.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 12rem 0;
}
#contact-he{
    text-align: left;
    
    color: #192439;
}
label{
    font-weight: 700;
    margin: 1rem 0;
}
input {
    width: 25rem;
    height: 4rem;
    padding: 1rem;
}
textarea{
    padding: 1rem;
}
.submit-btn{
    width: 10rem;
    border-radius: 4rem;
    margin-top: 2rem;
    border: none;
    background-color: #192439;
    color: #fff;
    font-weight: 700;
    
}